.tela {
    margin: 0;
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.refeicoes {
    margin: 1.5vw;
    background-color: white;
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.ingestao {
    display: inline-block;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 1.5vw;
    width: 97vw;
    background-color: linen;
    vertical-align: middle;
}
.ingestao__ingerido {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}
.ingestao__restante {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 3vmin;
    color: red;
}
.ingestao__descricao {
    padding: 5px;
    background-color: #fa807294;
    color: white;
    border-radius: 5px;
    font-size: 5vmin;
}
.ingestao__valor {
    height: 8vmin;
    line-height: 8vmin;
    font-size: 5vmin;
    width: 3rem;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 5px;    
}
.ingestao__medida {

}
.ingestao__valor-restante {
    height: 3vmin;
    line-height: 3vmin;
}
.ingestao__medida-restante {
    
}

@media (min-width: 480px) {
    .ingestao {
        width: 47vw;
    }
}