.tela {
    margin: 0;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}
.cabecalho {
    font-size: 5vmin;
    height: 20vmin;
    line-height: 20vmin;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: linen;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 0 0 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, white 10px, white 20px ), repeating-linear-gradient(45deg, white, white 10px, linen 10px, linen 20px );
}
.rodape {
    font-size: 5vmin;
    height: 20vmin;
    line-height: 20vmin;
    width: 100vw;
    position: fixed;
    bottom: 4px;
    background-color: linen;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 5px 5px 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, white 10px, white 20px ), repeating-linear-gradient(45deg, white, white 10px, linen 10px, linen 20px );
}
.refeicoes {
    font-size: 4.5vmin;
    background-color: white;
    outline: none;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: dimgray;
    border-radius: 5px;
    color: dimgray;
}
.ingestoes {
    margin-top: 22vmin;
    margin-bottom: 22vmin;
}
.porcentagem-ingerida {
    background-color: darkseagreen;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.porcentagem-ingerida_excedida {
    background-color: lightcoral;
}
.ingestao {
    display: inline-block;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    padding: 1vmin;
    box-sizing: border-box;
    text-align: center;
    margin: 2vw;
    width: 96vw;
    background-color: linen;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}
.ingestao__ingerido {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 5vmin;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 8vmin;
    font-size: 5vmin;
}
.ingestao__restante {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 3vmin;
}
.ingestao__icone-restante {
    color: darkseagreen;
}
.ingestao__icone-restante_acabou {
    color: lightcoral;
}
.ingestao__descricao {
    padding: 5px;
    background-color: #f9aea2;
    color: white;
    border-radius: 5px;
    font-size: 4vmin;
}
.ingestao__valor {
    height: 8vmin;
    line-height: 8vmin;
    font-size: 5vmin;
    width: 15vmin;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: dimgray;
    border-width: 1px;
    border-style: solid;
    border-color: dimgray;
}

@media (min-width: 480px) {
    .ingestao {
        width: 46vw;
    }
}