.tela {
    margin: 0;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}
.cabecalho {
    font-size: 4vw;
    height: 20vmin;
    line-height: 20vmin;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: linen;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background: repeating-linear-gradient(-45deg, transparent, transparent 2.5px,linen 2.5px, linen 5px ), repeating-linear-gradient(45deg, white, white 2.5px, linen 2.5px, linen 5px );
}

.rodape {
    font-size: 4vw;
    height: 20vmin;
    line-height: 20vmin;
    width: 100vw;
    position: fixed;
    bottom: 4px;
    background-color: linen;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background: repeating-linear-gradient(-45deg, transparent, transparent 2.5px,linen 2.5px, linen 5px ), repeating-linear-gradient(45deg, white, white 2.5px, linen 2.5px, linen 5px );
}

.refeicoes {
    font-size: 4vw;
    background-color: white;
    outline: none;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    color: dimgray;
}
.ingestoes {
    margin-top: 22vmin;
    margin-bottom: 22vmin;
    display: flex;
    flex-wrap: wrap;
}
.porcentagem-ingerida {
    background-color: darkseagreen;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.porcentagem-ingerida_excedida {
    background-color: lightcoral;
}
.ingestao {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: 2%;
    width: 96%;
    height: 150px;
    background-color: white;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}
.ingestao__alimento {
    height: 70%;
    display: flex;
}
.ingestao__descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-radius: 5px 0 0 0;
    font-size: 4vw;    
    box-sizing: border-box;
    color: #a96363;
}
.ingestao__ingerido {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    font-size: 3vw;
    text-align: left;
    padding: 10px;
}
.ingestao__valor {
    margin: 0 10px;
    height: 4vh;
    font-size: 3vh;
    width: 15vmin;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: dimgray;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    vertical-align: middle;
}
.ingestao__restante {
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 3vw;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightgray;    
    border-radius: 0 0 5px 5px;
    background-color: linen;
    height: 30%;
}
.ingestao__medida {
    vertical-align: middle;
}
.ingestao__icone-restante {
    color: darkseagreen;
}
.ingestao__icone-restante_acabou {
    color: lightcoral;
}

@media (min-width: 480px) {
    .ingestao {
        width: 46%;
    }
    .ingestao__descricao {
        font-size: 2vw;
    }
    .ingestao__valor {
        font-size: 3vw;
    }
    .ingestao__ingerido {
        font-size: 2vw;
    }
    .ingestao__restante {
        font-size: 2vw;
    }
    .cabecalho {
        font-size: 3vw;
    }
    .rodape {
        font-size: 3vw;
    }
    .refeicoes {
        font-size: 3vw;
    }
}